/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* #region header */

header {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: white;
}

#nav {
    font-family: 'Arima', cursive;
    max-width: 80vw;
    margin: 0 auto;
}

/* #endregion */

/* #region main */
#title {
    font-size: 5rem;
    font-weight: bold;
    background: linear-gradient(45deg, red, blue);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

a {
    text-decoration: none;
}

.carousel-item img {
    height: 555px;
}

main {
    font-family: 'Poppins', sans-serif;
    max-width: 75vw;
    margin: 50px auto;
}

section {
    margin: 30px auto;
    max-width: 60vw;
}

section h1 {
    text-align: center;
    font-weight: bold;
    margin: 2rem 0;
    color: #e34b59;
}

section h4 {
    font-weight: bold;
}

section p {
    font-size: x-large;
}

section blockquote {
    font-size: x-large;
    font-style: italic;
    padding-left: 10px;
    color: gray;
    border-left: gray 4px solid;
    margin: 1rem 0;
}

.card {
    border-radius: 15px;
}

.card-title {
    padding: 15px;
    margin: 10px 0;
}

.card-body {
    font-size: x-large;
}

.btn {
    font-size: x-large;
    margin: 8px 8px;
    padding: 8px 15px;
    border-radius: 0.7rem;
}

@media (max-width: 992px) {
    main {
        max-width: 85vw;
    }

    section {
        max-width: 75vw;
    }
}

/* #endregion */

/* #region footer */

#fixedicon {
    position: fixed;
    /* 固定定位 */
    bottom: 20px;
    /* 从底部向上20像素 */
    right: 20px;
    /* 从右边向左20像素 */
    border-radius: 50%;
    /* 设置圆角以创建圆形图片 */
    width: 100px;
    /* 你可以设置自己需要的图片宽度 */
    height: 100px;
    /* 你可以设置自己需要的图片高度 */
}

#menuContainer {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#fixedImage {

    border-radius: 50%;
    width: 100px;
    height: 100px;
}

#dropdownMenu {
    margin-top: 10px;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    width: 100px;
    z-index: 1;
}

#dropdownMenu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.hide {
    display: none;
}

/* #endregion */